html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.w-100 {
  width: 100%;
}

.hidden {
  display: none !important;
}

#banner {
  background-color: black;
  background-image: url("../images/blur-book-stack-books-bookshelves-590493-medium.jpg");
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: inset 0 0 2000px 2000px #000000a1;
          box-shadow: inset 0 0 2000px 2000px #000000a1;
}

@media (min-width: 1024px) {
  #banner {
    background-image: url("../images/blur-book-stack-books-bookshelves-590493-large.jpg");
  }
}

#banner #title {
  margin: 0;
  position: relative;
  color: wheat;
  font-family: 'Ceviche One', cursive;
  width: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 3em;
}

@media (min-width: 768px) {
  #banner #title {
    font-size: 5em;
  }
}

@media (min-width: 1024px) {
  #banner #title {
    font-size: 5em;
  }
}

#banner #subtitle {
  width: 100%;
  color: peachpuff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

@media (min-width: 768px) {
  #banner #subtitle {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  #banner #subtitle {
    font-size: 2em;
  }
}

#banner #scroll-down {
  font-size: 2.5em;
  color: #FFFFFF4A;
  position: absolute;
  bottom: 0.6em;
  -webkit-transform: rotate(-90deg) translateX(-50%);
          transform: rotate(-90deg) translateX(-50%);
}

#banner #scroll-down::before {
  content: '\2770';
}

#banner #scroll-down:hover {
  color: #FFFFFF78;
  cursor: pointer;
}

#content {
  min-height: 100vh;
  background-color: #ede8d5;
  font-size: 14px;
  line-height: 1.4;
}

#content .section-heading {
  font-size: 1.5em;
  font-weight: bold;
}

#content .section-details {
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
}

#content #large-avatar {
  display: none;
}

#content #tabs {
  display: none;
}

#content #floating-buttons {
  position: fixed;
  left: 100%;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content #floating-buttons .floating-button {
  text-align: center;
  color: white;
  -webkit-box-shadow: 3px 3px 11px #434343;
          box-shadow: 3px 3px 11px #434343;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 10px;
  display: none;
  z-index: 1000;
}

#content #floating-buttons .floating-button .fa {
  width: 16px;
  height: 16px;
}

#content #floating-buttons #mobile-achievements {
  background-color: #eea80c;
}

#content #floating-buttons #mobile-books {
  background-color: #339284;
}

#content #floating-buttons #mobile-home {
  background-color: #2751c7;
}

#content #floating-buttons #mobile-menu {
  background-color: #ff6767;
}

@media (min-width: 768px) {
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
  }
  #content #tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #content #tabs .tab {
    height: 50px;
    width: 100px;
    padding: 10px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: inset 0px -3px 3px #43434375;
            box-shadow: inset 0px -3px 3px #43434375;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 10px;
    background-color: #ede8d5;
    border: 1px dotted #59341f;
    border-bottom: none;
    cursor: pointer;
  }
  #content #tabs .tab.selected {
    background-color: #f4fdff;
    margin-bottom: -2px;
    z-index: 500;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #content #tabs .tab div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #content #sections {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-height: 70vh;
    padding-top: 100px;
  }
  #content #sections .section {
    height: 100%;
    border: 1px dotted #59341f;
    border-top: none;
    border-right: none;
    -webkit-box-shadow: 6px -3px 4px #43434375;
            box-shadow: 6px -3px 4px #43434375;
    background-color: #f4fdff;
  }
  #content #large-avatar {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 100px;
  }
  #content #large-avatar img {
    max-height: 70vh;
    max-width: 35vw;
  }
}

@media (min-width: 1024px) {
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 2em;
    padding-right: 2em;
  }
  #content #tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #content #tabs .tab {
    height: 50px;
    width: 100px;
    padding: 10px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: inset 0px -3px 3px #43434375;
            box-shadow: inset 0px -3px 3px #43434375;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 10px;
    background-color: #ede8d5;
    border: 1px dotted #59341f;
    border-bottom: none;
    cursor: pointer;
  }
  #content #tabs .tab.selected {
    background-color: #f4fdff;
    margin-bottom: -2px;
    z-index: 500;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #content #tabs .tab div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #content #sections {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-height: 70vh;
    padding-top: 100px;
  }
  #content #sections .section {
    height: 100%;
    border: 1px dotted #59341f;
    border-top: none;
    border-right: none;
    -webkit-box-shadow: 6px -3px 4px #43434375;
            box-shadow: 6px -3px 4px #43434375;
    background-color: #f4fdff;
  }
  #content #large-avatar {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 100px;
  }
  #content #large-avatar img {
    max-height: 70vh;
    max-width: 35vw;
  }
}

.avatar {
  padding: 0.5em;
}

.avatar img {
  border-radius: 50%;
  border: 2px solid #59341f;
  -webkit-box-shadow: 2px 2px 9px 0px #434343;
          box-shadow: 2px 2px 9px 0px #434343;
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.avatar .img-caption {
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .avatar img {
  max-width: 50vw;
}

#home .section-heading {
  display: none;
}

@media (min-width: 768px) {
  #home .section-heading {
    display: block;
  }
  #home #small-avatar {
    display: none;
  }
}

@media (min-width: 1024px) {
  #home .section-heading {
    display: block;
  }
  #home #small-avatar {
    display: none;
  }
}

#home #disclaimer {
  padding: 0 10px 10px 10px;
  background-color: white;
  border: 1px dotted red;
  margin-top: 20px;
}

@media (min-width: 768px) {
  #home #disclaimer {
    margin-top: 100px;
  }
}

@media (min-width: 1024px) {
  #home #disclaimer {
    margin-top: 100px;
  }
}

#home #disclaimer .fa-info-circle {
  color: blue;
}

#home #disclaimer #references {
  display: none;
}

#books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#books #bookshelf {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 20px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

#books #bookshelf .book-display {
  height: 200px;
}

#books #bookshelf .book-display figure {
  margin: 0;
  height: 100%;
}

#books #bookshelf .book-display figure img {
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 3px 3px 9px 4px #434343;
          box-shadow: 3px 3px 9px 4px #434343;
}

#achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#achievements #award-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#achievements #award-list .award {
  height: 100px;
  background-color: #ffeddb;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 3px 3px #43434375;
          box-shadow: 1px 3px 3px #43434375;
  border-radius: 4px;
  cursor: pointer;
}

#achievements #award-list .award figure {
  margin: 0 20px;
  height: 100%;
  min-width: 20%;
}

#achievements #award-list .award figure img {
  height: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
}

#achievements #award-list .award .award-details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  flex-grow: 1;
  padding: 0 10px;
}

#achievements #award-list .award .award-details .award-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

#achievements #award-list .award .award-details .award-year {
  margin-top: 0;
  margin-bottom: 0;
}

#achievements #award-list .award .award-details .award-description {
  display: none;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000078;
  z-index: 2000;
  font-size: 14px;
  line-height: 1.4;
}

#modal #modal-content {
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#modal #modal-content #modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  outline: none;
  background-color: transparent;
  border: 0;
}

#modal #modal-content #modal-close .fa-close {
  pointer-events: none;
}

#modal #modal-content #modal-close:hover {
  cursor: pointer;
}

#modal #modal-content figure {
  margin: 0;
  margin-top: 20px;
  width: 100%;
}

#modal #modal-content figure #modal-figure {
  max-height: 20vh;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
}

#modal #modal-content #modal-details {
  text-align: justify;
}

#modal #modal-content #modal-details .reference-link {
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  #modal #modal-content {
    width: 40%;
    min-width: 450px;
  }
}

@media (min-width: 1024px) {
  #modal #modal-content {
    width: 40%;
    min-width: 450px;
  }
}
/*# sourceMappingURL=main.css.map */